*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sana-serif;
    box-sizing: border-box;
}
body {
    background: #f0f2f5;
    color: #5f5f5f;


}

/*.......start navbar.........*/
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.logo img {
    width: 30px;
margin-right: 15px;
    display: block;
}

.nav-center ul li {
    display: inline-block;
    list-style: none;
}

.nav-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.nav-center ul li a img{
    width: 30px;
}

.nav-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.nav-center ul li a:hover::after,
.nav-center ul li a.active-link::after
{
width: 100%;
}
.nav-profile-img{
width: 40px;
border-radius: 50%;
display: block;
cursor: pointer;
position: relative;
}
.online {
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

.search-box {
    background: #f2f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.nav-left {
    display: flex;
    align-items: center;
}
.search-box img {
    width: 14px;
}
.search-box input {
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}


/********************************************/

.container {
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*------left-sidebar--------*/
.left-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
}

.sidebar-profile-box{
    background: #fff;
}

.sidebar-profile-info{
    padding: 0 25px;
}

.sidebar-profile-info img{
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
}

.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.sidebar-profile-info ul {
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;
}

.sidebar-profile-link{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-link a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.sidebar-profile-link a:first-child{
    border-left: 0;
}

.sidebar-profile-link a img{
    width: 20px;
    margin-right: 10px;
}

.sidebar-activity{
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}

.sidebar-activity h3{
    font-size: 14px;
    color: #777;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img {
    width: 20px;
    margin-right: 10px;
}
/*------right-sidebar--------*/
.left-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
}

/*------main -content--------*/
.main-content {
    flex-basis: 47%;
}

